
<div class="row page_wrap">
    <!-- page wrap -->
    <div class="twelve columns">
        <!-- page wrap -->
        <div class="row">
            <div class="nine columns header_nav">
                <ul id="menu-header" class="nav-bar horizontal">
                    <li><a href="index.html">Home</a></li>
                    <li class="has-flyout"> <a href="#">Example Pages</a><a href="#" class="flyout-toggle"></a>
                        <ul class="flyout">
                            <li class="has-flyout"><a href="blog.html">Blog</a></li>
                            <li class="has-flyout"><a href="blog-single.html">Blog Single Page</a></li>
                            <li class="has-flyout"><a href="products-page.html">Products Page</a></li>
                            <li class="has-flyout"><a href="product-single.html">Product Single</a></li>
                            <li class="has-flyout"><a href="contact.html">Contact Page</a></li>
                        </ul>
                    </li>
                    <li ><a href="galleries.html">Galleries</a></li>
                </ul>
                <script>$('ul#menu-header').nav-bar();</script>
            </div>
            <div class="three columns header_logo"> <img src="../../assets/img/presentation/logo.png" alt=""> </div>
        </div>
        <!-- END Header -->
        <div class="show-for-large-up">
            <div class="row">
                <div class="twelve columns">
                    <div id="featured"><img src="../../assets/img/presentation/demo1.jpg" alt=""> <img src="../../assets/img/presentation/demo2.jpg" alt=""> <img src="../../assets/img/presentation/demo3.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="heading_dots">
                    <h1 class="heading_supersize"><span class="heading_center_bg">Welcome to High Fashion!</span></h1>
                </div>
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="three columns">
                <h3>Adipiscing Elit</h3>
                <p><span class="dropcap_green">1</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus, vel lacinia libero purus vitae risus. Integer a eros sit amet felis tincidunt commodo.</p>
            </div>
            <div class="three columns">
                <h3>Lectus Congue</h3>
                <p><span class="dropcap_black">2</span> Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci. Mauris pharetra congue enim, et sagittis lectus congue ut. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
            </div>
            <div class="three columns">
                <h3>Gravida Pharetra</h3>
                <p><span class="dropcap_black">3</span> Sed vitae nisi leo. Nulla tincidunt, turpis non gravida pharetra, diam sapien posuere massa, non luctus leo mauris at sapien. Donec ut fermentum eros. Vestibulum placerat dui sit amet quam.</p>
            </div>
            <div class="three columns">
                <h3>Gravida Pharetra</h3>
                <p><span class="dropcap_black">4</span> Sed vitae nisi leo. Nulla tincidunt, turpis non gravida pharetra, diam sapien posuere massa, non luctus leo mauris at sapien. Donec ut fermentum eros. Vestibulum placerat dui sit amet quam.</p>
            </div>
        </div>
        <!-- end row -->
        <div class="row" style="padding-top: 20px">
            <div class="four columns"> <img src="../../assets/img/presentation/demo2_small.jpg" alt="">
                <h3>Adipiscing Elit</h3>
                <p><em>Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci.</em></p>
            </div>
            <div class="four columns"> <img src="../../assets/img/presentation/demo1_small.jpg" alt="">
                <h3>Adipiscing Elit</h3>
                <p><em>Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci.</em></p>
            </div>
            <div class="four columns"> <img src="../../assets/img/presentation/demo3_small.jpg" alt="">
                <h3>Adipiscing Elit</h3>
                <p><em>Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci.</em></p>
            </div>
        </div>
        <!-- end row
        <div class="row">
            <div class="twelve columns">
                <ul id="menu3" class="footer_menu horizontal">
                    <li ><a href="index.html">Home</a></li>
                </ul>
            </div>
        </div>-->
        <script>$('ul#menu3').nav-bar();</script>
    </div>
</div>