




<div class="crossfade">

    <!-- <figure></figure>

     <figure></figure>

     <figure></figure>

     <figure></figure>

     <figure></figure>-->

</div>
<div class="center">
    <h1>Benvenuto!</h1>
    <h3>Accedi con le tue credenziali</h3>
</div>

<form style="background-color: white">
    <div class="group">
        <input type="text"><span class="highlight"></span><span class="bar"></span>
        <label>Email</label>
    </div>
    <div class="group">
        <input type="email"><span class="highlight"></span><span class="bar"></span>
        <label>Password</label>
    </div>
    <button type="button" class="button buttonBlue">Accedi
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>